# ===================================================================
# tpRigToolkit-tools-jointorient requirements file
# ===================================================================

tpRigToolkit-core